{% extends "base_website.html" %}

{% block title %}AMD - a new biomathematical method for both quantitative and qualitative
analysis of the intracellular signaling pathway activation using
transcriptomic data {% endblock %}

{% block content %}


<div class="jumbotron ws_banner">
   <div class="container">
    <div class="ws_banner_form_div">
    <img src="/static/images/AMDMedicine.jpg" style="width: 300px;" />
    </div>
    
    <div>  
      <h1>Welcome to AMD Medicine</h1>
      <p>
         a new biomathematical method for both quantitative and qualitative <br/>
         analysis of the intracellular signaling pathway activation using <br/>transcriptomic data
      </p>
    </div>
   </div>
  </div>



  
{% endblock %}
